
/* ============Universal Section=============== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*=============Common style======================*/

/*==============Button style======================*/
.btn{
    background-color: #52b179;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 12px 16px;
    cursor: pointer;
}

.btn:hover{
    background-color: #FFFFFF;
    color: #4a9f6e;
    box-shadow: 0 0 10px #469165;
}

.btn2{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 14px 18px;
    cursor: pointer;
}

.btn2:hover{
    background-color: transparent;
    color: #FFFFFF;
    box-shadow: 0 0 15px #FFFFFF;
}

/*=================Main Part style===========*/

/*=============navbar style===================*/
.header{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    padding: 16px 120px;
}

.img{
    min-width: 140px;
    min-height: 60x;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    list-style: none;
}

.nav-menu li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;

}

.nav-menu li a:hover{
    text-shadow: 0 0 15px rgb(31, 31, 248);
}

/*=============Banner style============*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 100px 200px;

    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-box{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.banner-box h5{
    background-color: rgb(250, 253, 250);
    padding: 10px 15px;
    color: #52b179;
    border-radius: 15px;

}
.banner-text{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.banner-btn{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* ==================Note section style=============== */

.note-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    background-color: rgb(251, 245, 235);
    width: 100%;
    height: auto;
    padding: 100px 120px;
}

.note-section h1{
    color: black;
    font-size: 48px;
    font-weight: bold;
}

.note-section p{
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: auto;
}

.card1{
    flex: 1 1 calc(25% - 1rem);
    height: 300px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.card2{
    flex: 1 1 calc(25% - 1rem);
    height: 300px;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.card3{
    flex: 1 1 calc(25% - 1rem);
    height: 300px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.card4{
    flex: 1 1 calc(25% - 1rem);
    height: 300px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
}

.card h1{
    color: #001931;
    font-size: 22px;
    font-weight: 400;
}

.card p{
    color: #001931;
    font-size: 16px;
}
/* ==============Second brain Section============== */

.brain{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 20px;
}

.left-side{
    flex: 1 1 calc(50% - 1rem);
}

.right-side{
    flex: 1 1 calc(50% - 1rem);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    padding-left: 1rem;
}

.right-side p{
    color: #469165;
    font-size: 16px;
}

.right-side ul{
    list-style-image: url(./assets/CheckCircle.png);
}

/* ==============Early access section=========== */

.early-access{
    display: flex;
    justify-content: center;
    align-items: center;
}

.early-box{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 90%;
    padding: 80px 50px;
    background-color: #F7F6F2;
}

.early-box h1{
    font-size: 40px;
    color: #001931;
}
/* ===============Footer Section style============= */

.footer-section{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    width: 100%;
    height: auto;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}

.top-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-logo{
    width: 130px;
    height: auto;
    cursor: pointer;
}

.social{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social h2{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.social-link{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-link i{
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right p{
    color: #FFFFFF;
    font-size: 16px;
}